<!-- title -->
<div class="container">
  <div class="columns is-centered">
    <div class="block column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>
    </div>
  </div>
</div>

<!-- number of characters input -->
<div class="columns is-centered">
  <div class="block column is-one-third">
    <label> Number of characters
      <input [value]="length" (input)="onChangeLength($any($event.target).value)" type="text" id="myInput">
    </label>
  </div>
</div>

<!-- checkbox - include letters -->
<div class="columns is-centered">
  <div class="block column is-one-third">
    <label for=""> Include letters
      <input type="checkbox" id="checkbox1">
    </label>
  </div>
</div>

<!-- checkbox - include numbers -->
<div class="columns is-centered">
  <div class="block column is-one-third">
    <label for=""> Include Numbers
      <input type="checkbox" id="checkbox2">
    </label>
  </div>
</div>

<!-- checkbox - include symbols -->
<div class="columns is-centered">
  <div class="block column is-one-third">
    <label for=""> Include symbols
      <input type="checkbox" id="checkbox3">
    </label>
  </div>
</div>

<!-- Generate button -->
<div class="columns is-centered">
  <div class="block column is-one-third">
    <button class='button is-success is-fullwidth' (click)="onButtonGenerate()">Generate
    </button>
  </div>
</div>

<!-- output- Genrated password -->
<div class="columns is-centered">
  <div class="block column is-one-third">
    <div *ngIf="password">
      <label>Your Password
        <input [value]="password" type="text" id="myOutput">
      </label>

      <br>
      <br>

      <!-- Reset button -->
      <button class="button is-danger is-fullwidth" (click)="onButtonReset()">
        Reset
      </button>

      <br>

      <!-- copy to clipboard button -->
      <button class="button is-link is-fullwidth" (click)="onButtonClipboard()">
        Copy to clipboard
      </button>

    </div>
  </div>
</div>